<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Project Tag
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" [routerLink]="['/dashboard']">
                        <span class="m-nav__link-text">
                            Home
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link" [routerLink]="['/project-details']" [queryParams]="{ id: projectId }">
                        <span class="m-nav__link-text">
                            Project
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Project Tag
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row">


                <!-- <div class="col-lg-12">
                    <button [className]="tagBtnClass" (click)="switchTagMode()">
                        <span>
                            <i class="la la-object-ungroup"></i>
                            <span>
                                Tag mode
                            </span>
                        </span>
                    </button>
                    <button class="excluseBtnClass" (click)="ExcluseAreaClick()">
                        <span>
                            <i class="la la-scissors"></i>
                            <span>
                                Excluse Area
                            </span>
                        </span>
                    </button>
                    <button class="btn btn-outline-success btn-sm m-btn m-btn--icon m-btn--wide" (click)="saveChange()" [disabled]="!btnSaveEnabled">
                        <span>
                            <i class="la la-save"></i>
                            <span>
                                Save Change
                            </span>
                        </span>
                    </button>
                    <span style="color: #d81f1f" *ngIf="tagMode">
                        <b>Tag mode is on</b>
                    </span>
                </div> -->
                <div class="col-lg-9">
                    <div class="d-flex">
                        <div class="mr-auto p-2">
                            <button class="btn btn-sm m-btn m-btn--air btn-primary m-btn--icon" (click)="backImagePage()">
                                <span>
                                    <i class="la la-home"></i>
                                    <span>
                                        Back to images pages
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-sm m-btn m-btn--air btn-outline-success m-btn--icon" [ngClass]="{ 'active': tagMode, '': !tagMode }"
                                (click)="switchTagMode()" *ngIf="!hadQc && (isTeacher || isProjectManager)">
                                <span>
                                    <i class="la la-tag"></i>
                                    <span>
                                        Tag mode
                                    </span>
                                </span>
                            </button>
                            <button class="btn btn-sm m-btn m-btn--air btn-outline-danger m-btn--icon" [ngClass]="{ 'active': excluseMode, '': !excluseMode }"
                                (click)="ExcluseAreaClick()" *ngIf="!hadQc && (isTeacher || isProjectManager)">
                                <span>
                                    <i class="la la-scissors"></i>
                                    <span>
                                        Excluse mode
                                    </span>
                                </span>
                            </button>
                            <button class="btn btn-sm btn-primary m-btn--airm-btn--icon-only" (click)="reload()">
                                <span>
                                    <i class="la la-refresh"></i>
                                    <span>
                                    </span>
                                </span>
                            </button>
                            <button class="btn btn-sm btn-primary m-btn--air m-btn--icon-only" data-toggle="modal" data-target="#modalHelp">
                                <span>
                                    <i class="la la-question"></i>
                                    <span>
                                    </span>
                                </span>
                            </button>


                            <button class="btn btn-sm btn-primary m-btn--air m-btn--icon" (click)="nextImage()">
                                <span>
                                    <i class="la la-arrow-right"></i>
                                    <span>
                                        Next Image
                                    </span>
                                </span>
                            </button>
                        </div>

                    </div>
                    <!-- <h6 class="m--font-primary float-right" style="padding-top: 20px">
                        <strong>Image: {{imageId}}</strong>
                    </h6> -->
                </div>
                <a id="my-link"></a>

                <div class="col-lg-9" style="padding-top: 10px">
                    <div id="canvas-wrapper" style="background-color: #ccc">
                        <!-- <canvas id="canvas" class="canvas">
                        </canvas> -->
                    </div>
                </div>

                <div class="col-lg-3" style="padding-top: 10px">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-xl-12" style="padding-top: 10px">
                                <h6 class="m--font-brand">
                                    Image:
                                </h6>
                                <h6>{{imageId}}
                                </h6>
                            </div>
                            <div class="col-xl-12">
                                <div class="m-checkbox-list" style="overflow: visible;" data-scrollable="true">
                                    <div style="padding: 10px; margin: 10px 0px 10px; border: 1px solid rgb(239, 239, 239);">
                                        <label class="m-checkbox m-checkbox--state-brand">
                                            <input type="checkbox" [(ngModel)]="currentImage.ignored" [disabled]="hadQc && !(isTeacher || isProjectManager)"> Ignore image
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="m-separator m-separator--dashed"></div>
                            <div class="col-xl-12">
                                <h6 class="m--font-brand">
                                    Classes
                                </h6>
                                <table>
                                    <tr  *ngIf="selectedTag">
                                        <td style="text-align: left; vertical-align: middle">
                                            <h6 class="m--font-primary m--font-bold">
                                                Tag {{selectedTag.index}}:
                                            </h6>
                                        </td>
                                        <td>
                                            <h6 style="padding-left: 10px">{{selectedTag.width | number:'1.0-2'}} x {{selectedTag.height | number:'1.0-2'}}</h6>
                                        </td>
                                    </tr>
                                    <tr *ngIf="selectedTag">
                                        <td></td>
                                        <td><h6 style="padding-left: 10px">{{selectedTag.width*imageWidth  | number:'1.0-0'}} x {{selectedTag.height*imageHeight  | number:'1.0-0'}} pixel</h6></td>
                                    </tr>
                                </table>



                            </div>
                            <div class="col-xl-12">
                                <div class="m-radio-list" style="overflow: visible;" data-scrollable="true">
                                    <div *ngIf="((isTeacher || isProjectManager) && !hadQc) else qcTemplate">
                                        <div style="padding: 10px; margin: 10px 0px 10px; border: 1px solid rgb(239, 239, 239);">
                                            <label class="m-radio m-radio--solid m-radio--brand" *ngFor="let class of classData">
                                                <input type="radio" [value]="class.id" [id]="class.id" (change)="classRadioChange($event)" [checked]="class.checked" [disabled]="!selectedTag">
                                                <strong [style.color]="class.classColor">{{class.name}}</strong>
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                    <ng-template #qcTemplate>
                                        <div>
                                            <div style="padding: 10px; margin: 10px 0px 10px; border: 1px solid rgb(239, 239, 239);">
                                                <label class="m-radio m-radio--solid m-radio--brand" *ngFor="let class of classData">
                                                    <input type="radio" [value]="class.id" [id]="class.id" (change)="classRadioChange($event)" [checked]="class.checked" disabled>
                                                    <strong [style.color]="class.classColor">{{class.name}}</strong>
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <button class="btn btn-sm btn-primary m-btn--wide btn-block m-btn--air" (click)="saveChange()" [disabled]="!btnSaveEnabled"
                                    *ngIf="!hadQc && (isTeacher || isProjectManager)">
                                    <span>
                                        <i class="la la-save"></i>
                                        <span>
                                            Save change
                                        </span>
                                    </span>
                                </button>
                            </div>
                            <div class="m-separator m-separator--dashed" *ngIf="(qcDone || hadQc || isQc || isProjectManager)"></div>
                            <div class="col-xl-12" style="padding-top: 10px">
                                <h6 class="m--font-brand" *ngIf="(qcDone || hadQc || isQc || isProjectManager)" style="padding-top: 10px">
                                    Quantity Check
                                </h6>
                            </div>
                            <div class="col-xl-12" *ngIf="hadQc">
                                <div style="padding-bottom: 10px" *ngFor="let qc of quantityCheckForViews" style="padding-top: 10px">
                                    <button class="btn btn-sm btn-block m-btn m-btn--wide" [ngClass]="{'btn-danger': !qc.value, 'btn-success':qc.value}" data-toggle="collapse"
                                        [attr.data-target]="qc.href" tpye="button" aria-expanded="false" [attr.aria-controls]="qc.collapseId">
                                        <span *ngIf="qc.value else qcTemplateStatus">
                                            Level {{qc.level}}: Passed
                                        </span>
                                        <ng-template #qcTemplateStatus>
                                            <span>
                                                Level {{qc.level}}: Unpassed
                                            </span>
                                        </ng-template>
                                    </button>
                                    <div class="collapse" [id]="qc.collapseId">
                                        <div class="card card-body">
                                            {{qc.comment}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-12" style="padding-top: 10px" *ngIf="isQc || isProjectManager">
                                <select class="form-control m-input m-input--air" id="QuantityValue" (change)="qcValueSelectChange($event)" *ngIf="(!qcDone && (isQc || isProjectManager))">
                                    <option *ngFor="let qc of qcValues" [value]="qc.value">
                                        <strong>{{qc.name}}</strong>
                                    </option>
                                </select>
                            </div>
                            <div class="col-xl-12" style="padding-top: 10px" *ngIf="isQc || isProjectManager">
                                <textarea class="form-control m-input m-input--air" id="qcComment" rows="3" [(ngModel)]="qcComment" *ngIf="(!qcDone && (isQc || isProjectManager))"
                                    placeholder="Comment"></textarea>
                            </div>
                            <div class="col-xl-12" style="padding-top: 10px" *ngIf="isQc || isProjectManager">
                                <button class="btn btn-sm btn-primary btn-block m-btn m-btn--wide" type="button" (click)="saveQcStage()" *ngIf="(!qcDone && (isQc || isProjectManager))">
                                    <span>
                                        <i class="la la-save"></i>
                                        <span>
                                            Save Quantity Check Stage
                                        </span>
                                    </span>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
<div class="modal" id="modalHelp" tabindex="-1" role="dialog" aria-labelledby="modalHelpTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalHelpTitle">
                    Tag Helper
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary m-btn--air" data-dismiss="modal">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>