<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Project Tag
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Home
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Project
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Project Tag
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row">


                <!-- <div class="col-lg-12">
                    <button [className]="tagBtnClass" (click)="switchTagMode()">
                        <span>
                            <i class="la la-object-ungroup"></i>
                            <span>
                                Tag mode
                            </span>
                        </span>
                    </button>
                    <button class="excluseBtnClass" (click)="ExcluseAreaClick()">
                        <span>
                            <i class="la la-scissors"></i>
                            <span>
                                Excluse Area
                            </span>
                        </span>
                    </button>
                    <button class="btn btn-outline-success btn-sm m-btn m-btn--icon m-btn--wide" (click)="saveChange()" [disabled]="!btnSaveEnabled">
                        <span>
                            <i class="la la-save"></i>
                            <span>
                                Save Change
                            </span>
                        </span>
                    </button>
                    <span style="color: #d81f1f" *ngIf="tagMode">
                        <b>Tag mode is on</b>
                    </span>
                </div> -->
                <div class="col-lg-12">
                    <button class="btn btn-sm btn-primary m-btn--air" (click)="nextImage()">
                        <span>
                            <i class="la la-arrow-right"></i>
                            <span>
                                Next Image
                            </span>
                        </span>
                    </button>
                </div>
                <div class="col-lg-12"  style="padding-top: 10px">
                    <h6 class="m--font-primary"><strong>Image: {{imageId}}</strong></h6>
                </div>
                <div class="col-lg-9" style="padding-top: 10px" >
                    <div id="canvas-wrapper" style="background-color: #ccc">
                        <canvas id="canvas" class="canvas">
                        </canvas>
                    </div>
                </div>

                <div class="col-lg-3" style="padding-top: 10px">
                    <div class="m-demo">
                        <div class="m-demo__preview">
                            <div class="m-list-search">
                                <div class="m-list-search__results">
                                    <span class="m-list-search__result-message m--hide">
                                        No Class Found
                                    </span>

                                    <span class="m-list-search__result-category m-list-search__result-category--first" *ngIf="selectedClass">
                                        Tag: {{selectedClass.index}}
                                    </span>
                                    <span class="m-list-search__result-category m-list-search__result-category--first">
                                        Controls
                                    </span>

                                    <div class="m-radio-list" style="padding-left: 10px">
                                        <div class="col-lg-12" style="padding: 20px; margin: 10px 0px 30px; border: 1px solid rgb(239, 239, 239);">
                                            <div class="m-form__group form-group row">
                                                <div class="col-3">
                                                    <span class="m-switch m-switch--outline m-switch--brand">
                                                        <label>
                                                            <input type="checkbox" [checked]="tagMode" (change)="switchTagMode()" name="">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                                <label class="col-6 col-form-label">
                                                    <strong> Tag mode</strong>
                                                </label>

                                            </div>
                                            <div class="m-form__group form-group row">
                                                <div class="col-3">
                                                    <span class="m-switch m-switch--outline m-switch--danger">
                                                        <label>
                                                            <input type="checkbox" [checked]="excluseMode" (change)="ExcluseAreaClick()" name="">
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </div>
                                                <label class="col-6 col-form-label">
                                                    <strong> Excluse mode</strong>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="m-list-search__result-category m-list-search__result-category--first">
                                        Classes
                                    </span>

                                    <div class="m-radio-list" style="padding-left: 10px;overflow: visible;" data-scrollable="true">
                                        <div style="padding: 20px; margin: 10px 0px 30px; border: 1px solid rgb(239, 239, 239);">
                                            <label class="m-radio m-radio--solid m-radio--brand" *ngFor="let class of classData">
                                                <input type="radio" [value]="class.id" [id]="class.id" (change)="classRadioChange($event)" [checked]="class.checked" [disabled]="!selectedClass">
                                                <strong [style.color]="class.classColor">{{class.name}}</strong>
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row" style="margin: 10px 0px 30px;padding: 10px; padding-left: 10px">
                                <button class="btn btn-sm btn-success btn-block m-btn--air" (click)="saveChange()" [disabled]="!btnSaveEnabled">
                                    <span>
                                        <i class="la la-save"></i>
                                        <span>
                                            Save Change
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
<div class="modal fade" id="modalDeleteProject" tabindex="-1" role="dialog" aria-labelledby="modalDeleteProjectTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteProjectTitle">
                    Delete Projects
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete there projects:</p>
                <ul>
                    <li *ngFor="let item of selectedProjects">
                        <strong>{{ item.name }}</strong>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteSelectedProject()" data-dismiss="modal">
                    Delete
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>