@import '~devextreme/dist/css/dx.common.css';
@import '~devextreme/dist/css/dx.light.css';
.dx-menu-item-popout {
    display: none !important;
}

.dx-datagrid .dx-menu .dx-menu-item .dx-menu-item-content {
    padding: 6px 10px 7px;
}

span {
    cursor: pointer;
}

.span-tagdetall:hover {
    color: #716aca;
}

.span-tagdetall:hover {
    color: #716aca;
}

#hide input[type=file] {
    display: none;
    margin: 10px;
}

#upload_button {
    display: inline-block;
  }
  #upload_button input[type=file] {
    display:none;
  }