<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Settings
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Home
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Administrator
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Settings
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Settings
                    </h3>
                </div>
            </div>
        </div>
        <form name="classInfo" role="form" [formGroup]="form" class="m-form m-form--state m-form--fit m-form--label-align-right"
            novalidate>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-control-feedback" *ngxErrorTemplate="let item; maxError: 1">
                            {{ item.message }}
                        </div>


                        <div class="form-group m-form__group row">
                            <label for="project" class="col-2 col-form-label">
                                <strong>Project:</strong>
                            </label>
                            <div class="col-8">
                                <select class="form-control m-input" id="project" (change)="projectChanged($event.target)">
                                    <option *ngFor="let project of projects" [value]="project.id">
                                        {{project.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row" ngxErrorsContent [class.has-danger]="quantityCheckLevelErrors.invalid">
                            <label for="quantityCheckLevel" class="col-2 col-form-label">
                                <strong>Quantity Check Level:</strong>
                            </label>
                            <div class="col-2">
                                <select class="form-control m-input" id="quantityCheckLevel" formControlName="quantityCheckLevel" [(ngModel)]="projectSetting.quantityCheckLevel" required>
                                    <option value="1">
                                        1
                                    </option>
                                    <option value="2">
                                        2
                                    </option>
                                    <option value="3">
                                        3
                                    </option>
                                    <option value="4">
                                        4
                                    </option>
                                    <option value="5">
                                        5
                                    </option>
                                </select>
                                <div ngxErrors="quantityCheckLevel" #quantityCheckLevelErrors></div>
                            </div>
                            <label class="col-form-label">
                                Maximum level can quantity check
                            </label>
                        </div>
                        <div class="form-group m-form__group row" ngxErrorsContent [class.has-danger]="taggTimeValueErrors.invalid">
                            <label for="taggTimeValue" class="col-2 col-form-label">
                                <strong>Tagg time:</strong>
                            </label>
                            <div class="col-2">
                                <input class="form-control m-input" type="number" value="30" id="taggTimeValue" formControlName="taggTimeValue" [(ngModel)]="projectSetting.taggTimeValue"
                                    required>

                                <div ngxErrors="taggTimeValue" #taggTimeValueErrors></div>
                            </div>
                            <label class="col-form-label">
                                minutes
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    <button class="btn btn-success m-btn--air m-btn--wide m-btn--icon" [disabled]="btnSaveDisable" (click)="save()">
                        <i class="la la-save"></i>
                        Save
                    </button>
                    <button type="reset" class="btn btn-secondary" (click)="cancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>