<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Dashboard
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a href="#" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a href="" class="m-nav__link">
            <span class="m-nav__link-text">
              Dashboard
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Summary
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

        </div>
        <!--end::Portlet-->
      </div>
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__body">
          <div class="form-group m-form__group">
            <label for="projectSelect">
              <h4 class="m-portlet__head-text">Project</h4>
            </label>
            <select class="form-control m-input m-input--air" id="projectSelect" (change)="projectSelectedChange($event)">
              <option *ngFor="let project of projects" [value]="project.id">
                <strong>{{project.name}}</strong>
              </option>
            </select>
          </div>
          <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-8">
              <!--begin:: Widgets/Stats2-1 -->
              <div class="m-widget1">
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                        Total Images
                      </h3>
                      <span class="m-widget1__desc">
                        Total images in project
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number m--font-danger">
                        {{currentProjectData.totalImages}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                        Images Tagged
                      </h3>
                      <span class="m-widget1__desc">
                        Total images had tag
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number m--font-success">
                        {{currentProjectData.imagesTagged}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                        Quantity Check Images
                      </h3>
                      <span class="m-widget1__desc">
                        Total of Image had Quantity Check
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number m--font-info">
                        {{currentProjectData.imagesHadQc}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                        Tagged Time
                      </h3>
                      <span class="m-widget1__desc">
                        Total tagged time
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number m--font-brand">
                        {{currentProjectData.totalTaggedTime}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!--end:: Widgets/Stats2-1 -->
            </div>
            <div class="col-xl-4">
              <!--begin:: Widgets/Profit Share-->
              <div class="m-widget14">
                <div class="m-widget14__header">
                  <h3 class="m-widget14__title">
                    Profit Share
                  </h3>
                  <span class="m-widget14__desc">
                    Profit Share between customers
                  </span>
                </div>
                <div class="row  align-items-center">
                  <div class="col" *ngIf="imageTaggedChart">
                    <canvas id="canvas">{{ imageTaggedChart }}</canvas>
                  </div>
                  <div class="col">
                    <div class="m-widget14__legends">
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-accent"></span>
                        <span class="m-widget14__legend-text">
                          37% Sport Tickets
                        </span>
                      </div>
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-warning"></span>
                        <span class="m-widget14__legend-text">
                          47% Business Events
                        </span>
                      </div>
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-brand"></span>
                        <span class="m-widget14__legend-text">
                          19% Others
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end:: Widgets/Profit Share-->
            </div>
          </div>
        </div>
        <!--end::Portlet-->
      </div>
    </div>

  </div>