<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Dashboard
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a href="#" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a href="" class="m-nav__link">
            <span class="m-nav__link-text">
              Dashboard
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Summary
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-5">
              <!--begin:: Widgets/Stats2-1 -->
              <div class="m-widget1">
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                        Projects
                      </h3>
                      <span class="m-widget1__desc">
                        Total projects
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number m--font-brand">
                        3
                      </span>
                    </div>
                  </div>
                </div>
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                        Images
                      </h3>
                      <span class="m-widget1__desc">
                        Total images of all projects
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number m--font-danger">
                        15
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!--end:: Widgets/Stats2-1 -->
            </div>
          </div>
        </div>
        <!--end::Portlet-->
      </div>
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__body">
          <div class="form-group m-form__group">
            <label for="projectSelect">
              <h4 class="m-portlet__head-text">Project</h4>
            </label>
            <select class="form-control m-input m-input--air" id="projectSelect" (change)="projectSelectedChange($event)">
              <option *ngFor="let project of projects" [value]="project.id">
                <strong>{{project.name}}</strong>
              </option>
            </select>
          </div>
          <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-4">
              <div class="m-widget14">
                <div class="m-widget14__header">
                  <h3 class="m-widget14__title">
                    Images Tagging
                  </h3>
                  <span class="m-widget14__desc">
                    Images tagging proccess
                  </span>
                </div>
                <div class="row  align-items-center">
                  <div class="col" *ngIf="imageTaggedChart">
                    <canvas id="canvas">{{ imageTaggedChart }}</canvas>
                  </div>
                  <div class="col">
                    <div class="m-widget14__legends">
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-danger"></span>
                        <span class="m-widget14__legend-text">
                          {{percentData.imageTaggedPercent}}% Images tagged
                        </span>
                      </div>
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-metal"></span>
                        <span class="m-widget14__legend-text">
                          {{percentData.imageNotTaggedPercent}}% Images not tagged
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <!--begin:: Widgets/Profit Share-->
              <div class="m-widget14">
                <div class="m-widget14__header">
                  <h3 class="m-widget14__title">
                    Tags
                  </h3>
                  <span class="m-widget14__desc">
                    Number of tag have class
                  </span>
                </div>
                <div class="row  align-items-center">
                  <div class="col" *ngIf="TagChart">
                    <canvas id="canvas-tag">{{ TagChart }}</canvas>
                  </div>
                  <div class="col">
                    <div class="m-widget14__legends">
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-success"></span>
                        <span class="m-widget14__legend-text">
                          {{percentData.tagsHaveClass}}% Tags have class
                        </span>
                      </div>
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-metal"></span>
                        <span class="m-widget14__legend-text">
                          {{percentData.tagsNotHaveClass}}% Tags not have class
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <!--begin:: Widgets/Profit Share-->
              <div class="m-widget14">
                <div class="m-widget14__header">
                  <h3 class="m-widget14__title">
                    Quantity Check
                  </h3>
                  <span class="m-widget14__desc">
                    Quantity check proccess
                  </span>
                </div>
                <div class="row  align-items-center">
                  <div class="col" *ngIf="QcChart">
                    <canvas id="canvas-qc">{{ QcChart }}</canvas>
                  </div>
                  <div class="col">
                    <div class="m-widget14__legends">
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-brand"></span>
                        <span class="m-widget14__legend-text">
                          {{percentData.imagesHaveQcPercent}}% Images have Qc
                        </span>
                      </div>
                      <div class="m-widget14__legend">
                        <span class="m-widget14__legend-bullet m--bg-metal"></span>
                        <span class="m-widget14__legend-text">
                          {{percentData.imagesNotHaveQcPercent}}% Images not have Qc
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-row--no-padding">
            <div class="col-xl-12">
              <!--begin:: Widgets/Stats2-1 -->
              <div class="m-widget1">
                <div class="m-widget1__item">
                  <div class="row m-row--no-padding align-items-center">
                    <div class="col">
                      <h3 class="m-widget1__title">
                      </h3>
                      <span class="m-widget1__desc">
                      </span>
                    </div>
                    <div class="col m--align-right">
                      <span class="m-widget1__number">Tagged time:</span>
                      <span class="m-widget1__number m--font-brand">
                        {{currentProjectData.totalTaggedTime}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-xl-12" style="padding-top: 10px">

              
              <dx-data-grid id="gridUserContainer" [dataSource]="userDataSource" [showBorders]="true" [wordWrapEnabled]="true" [columnAutoWidth]=true
                [hoverStateEnabled]="false" class="m_datatable">
                <dxo-selection mode="single"></dxo-selection>
                <dxo-remote-operations [sorting]="true" [paging]="true"></dxo-remote-operations>
                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>

                <dxi-column caption="User Name" sortOrder="asc" cellTemplate="cellUserName"></dxi-column>
                <dxi-column dataField="email" [allowSorting]="false"></dxi-column>
                <dxi-column cellTemplate="cellRole" caption="Roles" [allowSorting]="false"></dxi-column>
                <dxi-column dataField="totalTags" caption="Total Tags"></dxi-column>
                <dxi-column caption="Total Image Had Quantity Check" dataField="totalQcs"></dxi-column>
                <dxi-column cellTemplate="tagTimeCell" caption="Tagged Time"></dxi-column>
                <div *dxTemplate="let data of 'cellUserName'">
                  <span class="span-cellUserName">
                    <b>{{(data.data.userName)}}</b>
                  </span>
                </div>
                <div *dxTemplate="let data of 'cellRole'">
                  <span class="m-badge m-badge--brand m-badge--brand" *ngFor="let role of data.data.roleNames">
                    <b>{{(role)}}</b>
                  </span>
                </div>
                <div *dxTemplate="let data of 'tagTimeCell'">
                    {{data.data.taggedTime | number: '1.0-0' }} minutes
                </div>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>