<div>
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin"
    id="m_login" appunwraptag>
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
      <div class="m-stack m-stack--hor m-stack--desktop">
        <div class="m-stack__item m-stack__item--fluid">
          <div class="m-login__wrapper">
            <div class="m-login__logo">
              <a href="#">
                <img src="./assets/app/media/img/logos/logo-2.png" width="100" height="100">
              </a>
            </div>
            <div class="m-login__signin">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  V.E.D.A Data Manager
                </h3>
              </div>
              <div class="form-control-feedback" *ngxErrorTemplate="let item; maxError: 1">
                {{ item.message }}
              </div>
              <form class="m-login__form m-form" [formGroup]="loginForm" novalidate>
                <form-alert *ngIf="isLoginFail" (close)="isLoginFail=false" message="Incorrect username or password. Please try again."></form-alert>
                <div class="form-group m-form__group" [class.has-danger]="usernameError.invalid" ngxErrorsContent>
                  <input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off" formControlName="username">
                  <div ngxErrors="username" #usernameError></div>
                </div>
                <div class="form-group m-form__group" [class.has-danger]="passwordError.invalid" ngxErrorsContent>
                  <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password" formControlName="password">
                  <div ngxErrors="password" #passwordError></div>
                </div>
                <div class="row m-login__form-sub">
                  <div class="col m--align-left">
                    <label class="m-checkbox m-checkbox--focus">
                      <input type="checkbox" name="remember"> Remember me
                      <span></span>
                    </label>
                  </div>
                </div>
                <div class="m-login__form-action">
                  <button id="m_login_signin_submit" (click)="login()" class="btn btn-success m-btn m-btn--pill m-btn--custom m-btn--air" [ngClass]="{'m-loader m-loader--right m-loader--light': isLoggingin}"
                    [disabled]="isLoggingin">
                    Sign In
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content"
      style="background-image: url(./assets/app/media/img/bg/bg-4.jpg)">
      <div class="m-grid__item m-grid__item--middle">
        <!-- <h3 class="m-login__welcome">
          Welcome to V.E.D.A
        </h3>
        <h3>
          <p class="m-login__msg" style="padding: 5px; padding-left: 10px">
            <b>
              V: Virtualization
              <br> E: Exploration
              <br> D: Decision
              <br> A: Application
            </b>
          </p>
        </h3> -->

      </div>
    </div>
  </div>
</div>