<div class="col-lg-12">
    <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, -136px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" (click)="addClass()">
                <i class="la la-plus i-plus"></i>
                Add new class
            </a>
            <a *ngIf="selectedClasses.length" class="dropdown-item" data-toggle="modal" data-target="#modalDeleteProject">
                <i class="la la-trash i-trash"></i> Delete selected classes</a>
            <a *ngIf="!selectedClasses.length" class="dropdown-item disabled">
                <i class="la la-trash i-trash"></i> Delete selected classes</a>
        </div>
    </div>
</div>

<div class="col-lg-6" style="padding-top: 10px">
        <dx-data-grid id="gridClassContainer" [dataSource]="dataSource" [showBorders]="true" [wordWrapEnabled]="true" [noDataText]="noDataText"
        [columnAutoWidth]=true [hoverStateEnabled]="false" (onSelectionChanged)="selectionChanged($event)">
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxi-column caption="Class Name" sortOrder="asc" cellTemplate="cellName"></dxi-column>
        <dxi-column dataField="description" sortOrder="asc"></dxi-column>
        <dxi-column dataField="totalTag" caption="Total Tag" [allowSorting]="false"></dxi-column>
        <div *dxTemplate="let data of 'cellName'">
          <span class="span-cellname" (click)="classSelected(data.data)">
            <b>{{(data.data.name)}}</b>
          </span>
        </div>
        <dxo-remote-operations [sorting]="true" [paging]="true">
        </dxo-remote-operations>
        <!-- <dxo-paging [pageSize]="12"></dxo-paging> -->
        <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
      </dx-data-grid>
</div>