<div class="modal-header">
  <h5 class="modal-title">
    {{ title }}
  </h5>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.close()" aria-label="Close">
    <span aria-hidden="true">
      ×
    </span>
  </button>
</div>
<div class="modal-body">
  <form name="AddPermissionToRole" role="form" class="m-form m-form--state m-form--fit m-form--label-align-right">
    <div class="form-group">
      <div id="errorMessage" class="alert alert-danger alert-dismissible fade show m-alert m-alert--air" role="alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        <strong>{{messageHeader}}</strong>
        {{message}}
      </div>
      <div>Select category:</div>
      <dx-select-box id="category" [(dataSource)]="permissionCategory" valueChangeEvent="keyup" (onValueChanged)="valueChanged($event)"></dx-select-box>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">Permission:</div>
        <div *ngFor="let permission of permissions" class="col-md-12">
          <dx-check-box id="{{permission.id}}" text="{{permission.displayName}}: {{permission.descriptions}}" [(value)]="permission.isCheck" style="padding-top: 10px" (onValueChanged)="onCheckboxChecked($event)"></dx-check-box> 
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">
    Close
  </button>
  <button type="button" class="btn btn-primary" (click)="save()">
    Save
  </button>
</div>
