<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Project Details
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a href="#" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a [routerLink]="['/dashboard']" class="m-nav__link">
            <span class="m-nav__link-text">
              Home
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" [routerLink]="['/project']">
            <span class="m-nav__link-text">
              Project
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a href="" class="m-nav__link">
            <span class="m-nav__link-text">
              Project Details
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon">
            <i class="flaticon-technology"></i>
          </span>
          <h3 class="m-portlet__head-text">
            {{currentProject.name}}
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
            data-dropdown-toggle="hover" aria-expanded="true">
            <a class="m-portlet__nav-link m-portlet__nav-link--icon m-dropdown__toggle">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="m-dropdown__wrapper">
              <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 17px;"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li class="m-nav__section m-nav__section--first">
                        <span class="m-nav__section-text">
                          Action
                        </span>
                      </li>
                      <li class="m-nav__item" *ngIf="editProject">
                          <a class="m-nav__link" [routerLink]="['/project-info']" [queryParams]="{ project: currentProject.id }">
                            <i class="m-nav__link-icon flaticon-info"></i>
                            <span class="m-nav__link-text">
                              Edit info
                            </span>
                          </a>
                        </li>
                      <li class="m-nav__item" *ngIf="addTag">
                        <a class="m-nav__link" [routerLink]="['/project-class']" [queryParams]="{ project: currentProject.id }">
                          <i class="m-nav__link-icon la la-tags"></i>
                          <span class="m-nav__link-text">
                            Classes
                          </span>
                        </a>
                      </li>
                      <li class="m-nav__item" *ngIf="(editProject || addProject)">
                        <a class="m-nav__link" [routerLink]="['/project-users']" [queryParams]="{ project: currentProject.id }">
                          <i class="m-nav__link-icon flaticon-users"></i>
                          <span class="m-nav__link-text">
                            Users
                          </span>
                        </a>
                      </li>
                      <li class="m-nav__item" *ngIf="(addProject || editProject)">
                        <a class="m-nav__link" [routerLink]="['/project-import']" [queryParams]="{ project: currentProject.id }">
                          <i class="m-nav__link-icon la la-cloud-upload"></i>
                          <span class="m-nav__link-text">
                            Import
                          </span>
                        </a>
                      </li>
                      <li class="m-nav__item" *ngIf="(addProject || editProject)">
                        <a class="m-nav__link" [routerLink]="['/project-export']" [queryParams]="{ project: currentProject.id }">
                          <i class="m-nav__link-icon la la-cloud-download"></i>
                          <span class="m-nav__link-text">
                            Export
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
        <app-project-images></app-project-images>
    </div>
  </div>


</div>
<div class="modal fade" id="modalDeleteProject" tabindex="-1" role="dialog" aria-labelledby="modalDeleteProjectTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteProjectTitle">
          Delete Projects
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete there projects:</p>
        <ul>
          <li *ngFor="let item of selectedProjects">
            <strong>{{ item.name }}</strong>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteSelectedProject()" data-dismiss="modal">
          Delete
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>