<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Project Management
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a href="#" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a href="" class="m-nav__link">
            <span class="m-nav__link-text">
              Home
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a href="" class="m-nav__link">
            <span class="m-nav__link-text">
              Project
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <div class="row">
        <div class="col-lg-12" *ngIf="addProject">
          <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle m-btn--air" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, -136px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" (click)="addProjectClicked()">
                <i class="la la-plus i-plus"></i>
                Add new project
              </a>
              <a *ngIf="selectedProjects.length" class="dropdown-item" data-toggle="modal" data-target="#modalDeleteProject">
                <i class="la la-trash i-trash"></i> Delete selected projects</a>
              <a *ngIf="(!selectedProjects.length || deleteProject)" class="dropdown-item disabled">
                <i class="la la-trash i-trash"></i> Delete selected projects</a>
            </div>
          </div>
        </div>
        <div class="col-lg-12" style="padding-top: 10px">
          <dx-data-grid id="gridProjectContainer" 
            [dataSource]="dataSource" 
            [showBorders]="true" 
            [wordWrapEnabled]="true" 
            [noDataText]="noData"
            [columnAutoWidth]=true 
            [hoverStateEnabled]="false" 
            (onSelectionChanged)="selectionChanged($event)"  class="m_datatable">
            <dxo-selection mode="multiple"></dxo-selection>
            <dxo-remote-operations [sorting]="true" [paging]="true"></dxo-remote-operations>
            <dxo-paging [pageSize]="12"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
            
            <dxi-column caption="Projec Name" sortOrder="asc" cellTemplate="cellName"></dxi-column>
            <dxi-column dataField="description" [allowSorting]="false"></dxi-column>
            <dxi-column dataField="note" [allowSorting]="false"></dxi-column>
            <dxi-column dataField="usernames" caption="User" sortOrder="asc"></dxi-column>
            <dxi-column caption="Status" dataField="isDisabled" [visible]="isAdmin" cellTemplate="statusCellTemplate"></dxi-column>
            <dxi-column dataField="totalImg" caption="Total Image"></dxi-column>
            <dxi-column dataField="totalImgNotTagged" caption="Total image not tagged"></dxi-column>
            <dxi-column dataField="totalImgNotClassed" caption="Total image not have class"></dxi-column>
            <dxi-column dataField="totalImgQC" caption="Total Image have Qc"></dxi-column>
            <dxi-column dataField="totalImgNotQC" caption="Total Image not Qc"></dxi-column>
            <div *dxTemplate="let data of 'cellName'">
              <span class="span-cellname" [routerLink]="['/project-details']" [queryParams]="{ id: data.data.id }">
                <b>{{(data.data.name)}}</b>
              </span>
            </div>
            <div *dxTemplate="let data of 'statusCellTemplate'">
              <span class="m-badge m-badge--metal m-badge--wide" *ngIf="data.data.isDisabled; else disabled_span_template">{{data.data.isDisabled? 'disabled':'Enabled' }}</span>
              <ng-template #disabled_span_template>
                <span class="m-badge m-badge--success m-badge--wide">{{data.data.isDisabled? 'disabled':'Enabled' }}</span>
              </ng-template>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="modal fade" id="modalDeleteProject" tabindex="-1" role="dialog" aria-labelledby="modalDeleteProjectTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteProjectTitle">
          Delete Projects
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete there projects:</p>
        <ul>
          <li *ngFor="let item of selectedProjects">
            <strong>{{ item.name }}</strong>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteSelectedProject()" data-dismiss="modal">
          Delete
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>