<div class="mr-auto" appunwraptag>
    <h3 class="m-subheader__title m-subheader__title--separator">
        {{ items[0] }}
    </h3>
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--{{ icon }}">
            <a href="#" class="m-nav__link m-nav__link--icon">
                <i class="m-nav__link-icon la la-{{ icon }}"></i>
            </a>
        </li>
        <ng-container *ngFor="let item of items.slice(1)">
            <li class="m-nav__separator">
                -
            </li>
            <li class="m-nav__item">
                <a href="" class="m-nav__link">
                    <span class="m-nav__link-text">
                        {{item}}
                    </span>
                </a>
            </li>
        </ng-container>
    </ul>
</div>