<div class="modal-header">
  <h5 class="modal-title">
    {{ title }}
  </h5>
  <button type="button" class="close" data-dismiss="modal" (click)="activeModal.close()" aria-label="Close">
    <span aria-hidden="true">
      ×
    </span>
  </button>
</div>
<div class="modal-body">
    <div class="form-control-feedback" *ngxErrorTemplate="let item; maxError: 1">
        {{ item.message }}
      </div>
  <form name="roleInfo" role="form" [formGroup]="form" class="m-form m-form--state m-form--fit m-form--label-align-right" novalidate>
    <input type="hidden" name="id" formControlName="id" />
    <div class="form-group" ngxErrorsContent [class.has-danger]="roleNameErrors.invalid" >
      <div id="errorMessage" class="alert alert-danger alert-dismissible fade show m-alert m-alert--air" role="alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        <strong>{{messageHeader}}</strong>
        {{message}}
      </div>
      <label for="roleName" class="form-control-label">
        Name:
      </label>
      <input type="text" class="form-control" name="roleName" formControlName="roleName" id="roleName" required>
      <div ngxErrors="roleName" #roleNameErrors></div>
    </div>
    <div class="form-group">
      <label for="Descriptions" class="form-control-label">
        Descriptions:
      </label>
      <textarea class="form-control" name="descriptions" formControlName="descriptions" id="descriptions"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">
    Close
  </button>
  <button type="button" class="btn btn-primary" (click)="save()">
    Save
  </button>
</div>
